<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:;base64,=">
    <title>Hello World</title>
    <script src="https://unpkg.com/htmx.org@1.8.6"></script>
    <style>
        tr.htmx-swapping td {
            opacity: 0;
            transition: opacity 1s ease-out;
        }
    </style>
</head>

<!-- https://htmx.org/examples/delete-row/ -->

<body>
    <table class="table delete-row-example">
        <thead>
            <tr>
                <th>Name</th>
                <th>Bio</th>
                <th></th>
            </tr>
        </thead>
        <tbody hx-confirm="Are you sure?" hx-target="closest tr" hx-swap="outerHTML swap:1s">

            <ul>
                {{range .Authors}}

                <tr>
                    <td>{{ .Name }}</td>


                    <td>{{ .Bio.String }}</td>
                    <!-- not 100% sure why we would want our row to be nullable, save space? -->


                    <td>
                        <button class="btn btn-danger" hx-delete="/author/{{ .ID }}">
                            Delete
                        </button>
                    </td>
                </tr>

                {{- end}}
            </ul>

        </tbody>
    </table>

    <!-- post form to create author -->
    <form action="/author" method="POST" hx-post="/author">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter name">
        </div>
        <div class="form-group">
            <label for="bio">Bio</label>
            <input type="text" class="form-control" id="bio" name="bio" placeholder="Enter bio">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>

</html>